<link rel="stylesheet" href="/css/core/navbar.css">
<%- include('_navbar_styles') %>

    <nav class="navbar navbar-expand-lg navbar-dark mb-4">
        <div class="container-fluid gap-2">

            <a class="navbar-brand" href="<%= nav.brandHref %>" title="<%= nav.tenantNombre %>">
                <div class="n-icon"><i class="bi bi-shop text-white" style="font-size:.85rem;"></i></div>
                <%= nav.brandName %>
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navMain">
                <%- include('_navbar_links') %>

                    <%- include('_navbar_user') %>
            </div>
        </div>
    </nav>